:root{
    --blanco: #ffffff;
    --obscuro: #212121;
    --primario: #FFC107;
    --secundario: #0097A7;
    --gris: #757575;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 16px;
    font-family: 'Krub',sans-serif;
}
.titulo {
    text-align: center;
    font-size: 3.8rem;
}
.titulo span {
    font-size: 2rem;
}

.contenedor{
    width: 120rem; /*1200px*/
    margin: 0 auto; /* es equivalente a => margin: 0 auto 0 auto; */
    /* margin( [top] [right] [botton] [left])*/
}
.nav-bg{
    background-color: var(--secundario);
}
.navegacion-principal {
    display: flex; /*Habilita flexbox en este elemento*/
    flex-direction: row; /*Ordena en renglon el contenido*/
    justify-content: space-around; /*mueve el contenido del elemento hacia el centro*/
}

.navegacion-principal a{
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem;
}

.navegacion-principal a:hover{
    /* ':hover' añade un evento en el enlace 'a' */
    background-color: var(--primario);
    color: var(--obscuro);
}

.navegacion-principal a:visited{
    
}
